@font-face {
    font-family: 'customFont';
    src: url('./../Font/60e4249bd8f95b37bea9f160_RoslindaleDisplayCondensed-Regular.woff2')format('woff2');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'customFont2';
    src: url('./../Font/61eaf39e1d62ff0d83071705_Mint\ Grotesk\ -\ Medium.woff2')format('woff2');
}


body {
    font-family: 'customFont2', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #0e1012;
}

.button {
    text-align: center;
    text-transform: uppercase;
    background-color: #f3f6fa03;
    color: white;
    border-radius: 24px;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 3px 12px 2px;
    font-family: 'customFont2', sans-serif;
    font-size: 11px;
    line-height: 1;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    display: flex
;
    position: relative;
    overflow: hidden;
}


