@font-face {
    font-family: 'MyFont';
    src: url('../Font/60e4249bd8f95b37bea9f160_RoslindaleDisplayCondensed-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont2';
    src: url('../Font/61eaf39e1d62ff0d83071705_Mint\ Grotesk\ -\ Medium.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --shadow: #0e1012;
    --royal: #1a4572;
    --black: black;
    --pale: #f3f6fa;
    --periwinkle: #e8e5f0;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin-top: 38px;
    padding: 0;
}

body {

    background-color: var(--shadow);
    color: #f3f6fa;
    font-family: Mint Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    background-image: url('../img/background\ img.png');
    /* background-size: cover; */
    background-repeat: repeat;
    background-position: center;
    overflow-x: hidden;
}

ol,
ul {
    padding-left: 0;
    /* or whatever you want */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(10px);
    /* filter: blur(28px); */
    background-image: url('../img/background\ img.png');

    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 64px 0px 64px;
    /* max-width: 1920px; */
    max-height: 10vh;
}

.nav-background {
    position: absolute;
    inset: 0;
    background-color: var(--shadow);
    opacity: 0.5;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(10px);
    /* filter: blur(100px); */
    transition: background-color var(--transition-speed), color var(--transition-speed);
    transition-timing-function: ease;
    z-index: 0;
    /* behind content */
}

nav>*:not(.nav-background) {
    position: relative;
    z-index: 1;
    /* content above background */
}

nav .logo {
    font-family: 'MyFont', Arial, sans-serif;
    font-size: 32px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}


nav ul li {
    text-align: center;
    text-transform: uppercase;
    background-color: #f3f6fa03;
    border: 1px solid white;
    font-weight: 500;
    border-radius: 24px;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 3px 12px 2px;
    font-family: "MyFont2", sans-serif;
    font-size: 11px;
    line-height: 1;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    display: flex;
    position: relative;
    overflow: hidden;
}

.videoSection {
    display: flex;
    justify-content: center;

}

.videoSection-video-div {
    position: relative;
    width: 91%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.videoSection-video-div video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 40px;
    /* ensures video fills area */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80v;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.h1-header-wraper h1 {
    font-family: 'MyFont';
    font-size: 108px;
    text-transform: uppercase;
    line-height: 0.9em;
}

/* ...Intro Section... */

.intro-section {
    padding-top: 128px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}

.intro-section-text-para {
    font-family: 'MyFont';
    font-size: 80px;
    line-height: 1em;
}

#para-img3 {
    width: 7rem;
    height: 5rem;
    border-radius: 12px;
    object-fit: cover;
}

.intro-section-text-para-2 {
    font-family: 'MyFont2';
    line-height: 1.5em;
}

.intro-section-text-para img {
    height: 5.5rem;
    width: 4.5rem;
    border-radius: 12px;
    object-fit: contain;

}

.button {
    text-align: center;
    text-transform: uppercase;
    background-color: #f3f6fa03;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 3px 12px 2px;
    font-family: Mint Grotesk, sans-serif;
    font-size: 11px;
    line-height: 1;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    display: flex;
    position: relative;
    overflow: hidden;
}

.intro-section-button {
    width: 200px;
    margin: auto;
    margin-top: 48px;
}

.cards-amine {
    padding: 200px 0;
}

.card-content {
    position: relative;
    z-index: 1;
    padding: 2rem;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    width: 50%;
    height: 591px;
    overflow: hidden;
    z-index: 2;
    transition: z-index 0.2s;
}

#left-curtain {
    left: 30rem;
    rotate: -1deg;
}

#right-curtain {
    right: 195px;
    rotate: 1deg;
}

.images-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.images-card img {
    border-radius: 32px;
    height: 591px;
    width: 600px;
}

.card-date {
    display: flex;
    gap: 2rem;
    font-family: 'MyFont2';
    font-size: 12.8px;
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
}

.card-title h1 {
    font-size: 98px;
    line-height: 1em;
    font-family: 'MyFont';
    text-align: center;
    margin-top: 5rem;

}


.gradient-bar-container {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8rem;
}

.gradient-bar {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, #6da6ba 0%, #e4e6e8 50%, #6f7b99 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
}


#left-curtain2 {
    left: 30rem;
    rotate: -1deg;
}

#right-curtain2 {
    right: 195px;
    rotate: 1deg;
}


.gradient-bar-container2 {
      width: 320px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .gradient-bar2 {
      width: 100%;
      height: 18px;
      border-radius: 18px;
      background: linear-gradient(
        90deg,
        #f7c484 0%,     /* orange */
        #b4d97d 25%,    /* green */
        #54b7d3 60%,    /* blue */
        #6b7c87 100%    /* gray/blue */
      );
      box-shadow: 0 2px 10px rgba(0,0,0,0.16);
    }
.paralex-section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paralex-section-imgs {
    position: relative;
    left: 0%;
    top: 0;
    right: 0;
    z-index: 10;
    margin-top: 5rem;

}

.paralex-section-imgs a img {
    width: 864px;
    height: 520px;
    border-radius: 25px;
    position: relative;
    z-index: 10;
    /* height: 30rem; */
}

.motion-parallax-wrapper-a img {
    width: 304px;
    height: 208px;
    border-radius: 25px;
    position: absolute;
    top: -5rem;
    right: -12rem;
    /* z-index: 20; */
}

.motion-parallax-wrapper-b img {
    width: 304px;
    height: 208px;
    border-radius: 25px;
    position: absolute;
    /* right: 0; */
    top: 40%;
    z-index: 15;
    left: -10rem;

}

.motion-parallax-wrapper-c img {
    width: 304px;
    height: 208px;
    position: absolute;
    border-radius: 25px;
    bottom: -3rem;
    right: 2rem;
    /* top: 0; */
    z-index: 15;
}

/* .paralex-section-imgs a img {
    width: calc(100% + 64px);
    height: calc(100% + 64px);

} */

/* 
Responsive design  */

@media (max-width: 768px) {
    nav{
        display: none;
    }
    .cards-amine {
        padding: 60px 0;
        padding-top: 180px;
    }

    .images-card {
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .image-wrapper {
        width: 90vw;
        height: 308px;
        rotate: 0deg;
        margin-bottom: 1rem;
    }

    .image-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }

    #right-curtain {
        right: -8rem;
        rotate: 0deg;
    }

    #left-curtain {
        left: 0rem;
        rotate: 0deg;
    }
    #right-curtain2 {
        right: -8rem;
        rotate: 0deg;
    }

    #left-curtain2 {
        left: 0rem;
        rotate: 0deg;
    }

    .card-content {
        padding: 1rem;
        width: 100%;
        align-items: center;
    }

    .card-title h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .gradient-bar-container {
        width: 90vw;
        height: 16px;
        margin-top: 2rem;
    }

    .gradient-bar {
        height: 12px;
        border-radius: 12px;
    }
}