@font-face {
    font-family: 'customFont';
    src: url('./../Font/60e4249bd8f95b37bea9f160_RoslindaleDisplayCondensed-Regular.woff2')format('woff2');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'customFont2';
    src: url('./../Font/61eaf39e1d62ff0d83071705_Mint\ Grotesk\ -\ Medium.woff2')format('woff2');
}


body {
    font-family: 'customFont2', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #0e1012;
    overflow-x: hidden;
}

.button {
    text-align: center;
    text-transform: uppercase;
    background-color: #f3f6fa03;
    color: white;
    border-radius: 24px;
    flex: none;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 3px 12px 2px;
    font-family: 'customFont2', sans-serif;
    font-size: 11px;
    line-height: 1;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    display: flex
;
    position: relative;
    overflow: hidden;
}

.mobile-menu {
  background-color: black;
  position: absolute;
  top:22%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the element */
  width: 80%;
  height: 17%;
  z-index: 9999;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* optional for better visibility */
}


.intro-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
    display: flex;
}

.intro-image-wrapper {
    perspective: 1200px;
    position: relative;
    transform: perspective(1200px);
    height: 5rem; 
    width: 4rem;
}



